<div class="container">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= @article.title %></h3>
      <p class="card-text"><%= @article.content %></p>
    </div>
  </div>
  <%= link_to "Back to articles", root_path %>
  <!-- <%= link_to "Edit Article", root_path %> -->
  <!-- <%= link_to "Delete Article", root_path %> -->
</div>
